
.heading-h1 {
    font: 16px 'roboto';
    text-transform: uppercase;
    color: #c41c2b;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.equityheadin {
    padding: 5px 0 0px 0;
    text-align: center;
    font-size: 14px;
    color: #989898;
    text-transform: uppercase;
}
.hrline {
    width: 5%;
    border: 0;
    border-bottom: 1px solid #c41c2b;
    margin: 10px auto 2.5%;
}